<div class="card col-2 m-3" style="width: 18rem;">
  <img class="card-img-top " style="max-height: 13em" src="{{photo}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{tagline}}</p>
    <a href="/game/{{_id}}" class="btn btn-primary d-flex align-items-end">Go to the game!</a>

{{#if sameUser}}
    <a href="/game/{{_id}}/edit" class="btn btn-primary d-flex align-items-end">Edit!</a>
    <a href="/game/{{_id}}/delete" class="btn btn-primary d-flex align-items-end">Delete</a>
{{/if}}

  </div>
</div>