<div class="card col-3 m-3" style="width: 18rem;">
  <img class="card-img-top " style="max-height: 13em" src="{{photo}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{tagline}}</p>
    <a href="/project/{{_id}}" class="btn btn-primary d-flex align-items-end">Go to the Project!</a>

{{#if sameUser}}
    
    <a href="/project/{{_id}}/edit" class="btn btn-primary d-flex align-items-end">Edit!</a>
  <form action="/project/{{_id}}/delete" method="POST" enctype="multipart/form-data">
    <button href="/project/{{_id}}/delete" class="btn btn-primary d-flex align-items-end">Delete</button>
  </form>

{{/if}}

  </div>
</div>