<h1>Game: {{gameInfo.title}}</h1>
<img src= {{gameInfo.photo}} alt="profile picture">
<br>
<span><strong>Project Title</strong>: {{gameInfo.title}}</span>
<br />
<span><strong>Category</strong>: {{gameInfo.category}}</span>
<br>
<span><strong>Description</strong>: {{gameInfo.description}}</span>
<br>
<span><strong>Netlify Link</strong>: {{gameInfo.netlify}}</span>
<br>
<span><strong>Tagline</strong>: {{tagline}}</span>
<br>

<a href="/game/{{gameInfo._id}}/edit">Edit Project</a>

<footer>
  <h4>Comments</h4>
  {{#each comments}}
    {{>comment}}
  {{/each}}
  <h4>Add a Comment</h4>
  {{>commentform}}
</footer>

