<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navdiv">
    <nav>
      {{#if user}}
      <a class="ml-3" href="/home">Home</a>
        <a href="/profile/{{user._id}}">{{user.name}}'s Profile</a>
        <form class="mr-3" action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        {{else}}
      {{/if}}
    </nav>
    </div>
    {{{body}}}
    <script src="/scripts/script.js"></script>
    <script src="https://kit.fontawesome.com/797356307c.js"></script>
  </body>
</html>
