<section class="sectionprofile ">


<img class="imgprofile" src= {{userInfo.profilePicture}} alt="profile picture">


<div class="userdiv">
<span><strong>Username</strong>: {{userInfo.name}}</span>
<br />
<span><strong>Email</strong>: {{userInfo.email}}</span>
<br>
<span><strong>Campus</strong>: {{userInfo.campus}}</span>
<br>
<a href="/profile/{{userInfo._id}}/edit"><small><img src="../public/images/3852 - Edit.png"> Edit profile</small></a>
<br>
<a href="/project/create"><small>Publish your game!</small></a>
<br>
</div>


<span><strong>Projects</strong>: </span>
<br>
<div class="profilerow">
{{#each projects}}
  {{>singlecard}}
{{/each}}
</div>

</section>
