<h1>Profile</h1>
<img src= {{userInfo.profilePicture}} alt="profile picture">
<br>
<span><strong>Username</strong>: {{userInfo.name}}</span>
<br />
<span><strong>Email</strong>: {{userInfo.email}}</span>
<br>
<span><strong>Campus</strong>: {{userInfo.campus}}</span>
<br>
<span><strong>Games</strong>: </span>
<br>
<a href="/profile/{{userInfo._id}}/edit">Edit profile</a>
<br>
<a href="/game/create">Publish your game!</a>
{{#each games}}
{{>singlecard}}
{{/each}}
