<section class="secproject">

<div class="titleproject">
<h3><strong>{{projectInfo.title}}</strong> by {{projectInfo.author.name}}</h3>
<br>
</div>

<img class="imgproject" src= {{projectInfo.photo}} alt="profile picture">
<br>

<div class="projectdiv">
<span><strong>Category</strong>: <br>{{projectInfo.category}}</span>
<br>
<span><strong>Project Title</strong>: <br> {{projectInfo.title}}</span>
<br>
<span><strong>Description</strong>: <br>{{projectInfo.description}}</span>
<br>
<span><strong>Tagline</strong>: {{projectInfo.tagline}}</span>

</div>
<div class="projectbtn">
<button><a href="{{projectInfo.netlify}}" target="_blank">Try Now!</a></button>
</div>

<!--
  <a href="/project/{{projectInfo._id}}/edit">Edit Project</a>
-->
<div  class="likeform">

{{#if newLike}}
<form action="/project/{{projectInfo._id}}/like" method="POST">
<input type="number" value="{{projectInfo.like}}" name="like" style="display: none;"/>
  <button><i class="far fa-heart"></i></button>
</form>
{{else}}
<button><i class="fas fa-heart"></i></button>
{{/if}}
<p>   Likes: {{likeLength}}</p>

</div>

<div class="comments">
  
  <div class="dcomments">
  <h4>Comments</h4>
  {{#each comments}}
    {{>comment}}
  {{/each}}
  </div>
  

  <div class="container">
  <form class="formcomment" action="/project/{{projectInfo._id}}/comment" method="POST">
  <label for="input-content">Type your comment:</label>
  <textarea name="content" id="input-content" placeholder="i love this Game, but Lisbon games are the best!"></textarea>
  <button>Submit Comment</button>
  </form>
  </div>

</div>

</section>
